.desktop-profile {
  height: 100vh;
}

.profile-container { 
  width: 60%;
}

.desktop-img-container img {
  height: 400px;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}









/* Resusable classes */
.flex { display: flex;}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hidden { display: none;}

.column { flex-direction: column;}

.justify-between { justify-content: space-between;}

.justify-center { justify-content: center;}

.align-center { align-items: center;}

.full-height { height: 100%;}

.gap1 { gap: 1rem;}

.m0 { margin: 0;}

.p0 { padding: 0;}

.p1 { padding: 1rem;}