:root {
  --clr: #222327;
}

.desktop-nav {
  position: relative;
  width: 40rem;
  height: 5rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.desktop-nav ul {
  display: flex;
  justify-content: center;
  width: 22rem;
  gap: 5rem;
}

.desktop-nav ul li {
  position: relative;
  list-style: none;
  width: 5rem;
  height: 5rem;
  z-index: 1;
}

.desktop-nav ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.desktop-nav ul li a .icon {
  position: relative;
  display: block;
  line-height: 5rem;
  font-size: 1.5rem;
  text-align: center;
  transition: 500ms;
  color: var(--clr);
}

.desktop-nav ul li.active a .icon {
  transform: translateY(2.5rem);
}

.desktop-nav ul li a .text {
  position: absolute;
  color: var(--clr);
  /* font-weight: 400; */
  /* font-size: 1rem; */
  transition: 500ms;
  transform: translateY(1.5rem);
}

.desktop-nav ul li.active a .text {
  opacity: 1;
  transform: translateY(1rem);
}

.indicator {
  position: absolute;

}




.desktop-profile {
  height: 100vh;
  display: none;
}

.profile-container {
  width: 60%;
}

.desktop-img-container img {
  height: 400px;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}



/* ---------------MEDIA QUERIES--------------- */

@media (min-width: 1000px) {
  #burger-menu {
    display: none;
  }
  
  .mobile-profile {
    display: none;
  }

  .desktop-profile {
    display: flex;
  }
  
  .cv-container {
    display: flex;
    justify-content: center;
  }
  .experience-education-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: space-between;
    width: 90%;
  }

}