:root {
  /* A variable used for desktop media query. */
  --min-desktop-width: 1000px;
  /* A variable used for a hover function. */
  --clr: none;
}

.desktop-header {
  display: none;
}

.purple:hover {
  color: var(--clr-theme);
}

/* Har tagit den här effekten rakt av. */
.hover-small-line {
  --b: 0.1em;
  /* the thickness of the line */
  --c: var(--clr-theme);
  /* the color */

  color: #0000;
  padding-block: var(--b);
  background:
    linear-gradient(var(--c) 50%, #fff 0) 0% calc(100% - var(--_p, 0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: .3s var(--_s, 0s) linear, background-size .3s calc(.3s - var(--_s, 0s));
}

.hover-small-line:hover {
  --_p: 100%;
  --_s: .3s;
}

/* ---------------MEDIA QUERIES--------------- */

@media (min-width: 1000px) {
  #burger-menu {
    display: none;
  }

  .desktop-header {
    display: flex;
  }

  .lower-header {
    display: none;
  }

  .open-header {
    height: var(--header-height);
  }

  .profile-container {
    height: calc(100vh - var(--header-height));
    max-width: 90rem;
    margin: 0 auto;
  }

  .profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .container-cv-button {
    margin: 1rem;
  }

  .cv-container {
    display: flex;
    justify-content: center;
    max-width: 200rem;
    margin: 0 auto;
  }

  .cv-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: space-between;
    width: 90%;
  }

  .merit-contact-container {
    display: flex;
    justify-content: center;
    max-width: 200rem;
    margin: 0 auto;
  }

  .merit-contact-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: space-between;
    width: 90%;
  }
}