* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Futura', sans-serif;
    list-style: none;
}

:root {
    --header-height: 5rem;
    --clr:
}

/* ---------------HEADER--------------- */

header {
    inset: 0;
    height: var(--header-height);
    transition: height 400ms;
    overflow-y: hidden;
    border-bottom: 1px solid white;
    position: fixed;
    background-color: #1e1e1e;
    color: white;
    z-index: 10;
}

.upper-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    padding: 0 1rem;
}

#burger-menu {
    cursor: pointer;
    font-size: 2rem;
}

.desktop-header {
    display: none;
  }

a {
    text-decoration: none;
    color: white;
}

.media a {
    color: white;
    font-size: 2rem;
    margin-left: 1rem;
    cursor: pointer;
}

.open-header {
    height: 50%;
}

.lower-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lower-header li {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* ---------------PROFILE--------------- */

main {
    background-color: black;
    color: white;
    margin-top: var(--header-height);
    padding: 1rem;
}

.desktop-profile {
    display: none;
}

h1 {
    font-weight: normal;
    scroll-margin-top: var(--header-height);
}

h3 {
    margin-top: 1rem;
    scroll-margin-top: var(--header-height);
}

p {
    font-size: 0.9rem;
}

.subheading {
    font-size: 1rem;
}

.mobile-img-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.mobile-img-container img {
    height: 18rem;
    object-fit: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.container-cv-button {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.container-cv-button button {
    background-color: #9013FE;
    color: white;
    padding: 1rem 2rem;
    font-size: 1rem;
    /* border-radius: 1.5rem; */
    border: none;
    cursor: pointer;
}

.container-cv-button button:hover {
    background-color: #1e1e1e;
}

.white-line {
    margin: 0.5rem 0;
    border-bottom: 1px solid white;
}

.purple-line {
    margin: 0.5rem 0;
    border-bottom: 1px solid #9013FE;
}

/* ---------------EXPERIENCES--------------- */

.experience-title {
    font-size: 0.9rem;
    cursor: pointer;
}

.duration {
    font-size: 0.75rm;
    margin-bottom: 0.5rem;
}

/* Shows/ hides the working description.  */
.toggle-description {
    display: none;
    /* transition: height 400ms; */
    /* overflow-y: hidden; */
}



/* Resusable classes */
.flex { display: flex;}

.justify-between { justify-content: space-between;}

.justify-center { justify-content: center;}

.align-center { align-items: center;}

.full-height { height: 100%;}

.gap1 { gap: 1rem; }


